html,
body {
  height: 100%;
}

body {
  background-image: url("https://i.pinimg.com/1200x/ea/a8/d9/eaa8d903dd4782fdfc91a292f7d56a4a.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.recipe-prompt-container {
  margin: 30px auto 20px;
  background: #fbd3dd;
  padding: 20px 10px;
  max-width: 600px;
  border-radius: 15px;
  border: 1px solid black;
}

.recipe-response-container {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin: 20px auto 30px;
  background: #fbd3dd;
  padding: 20px 10px 110px;
  max-width: 600px;
  border-radius: 15px;
  font-size: 14px;
}
.prompt {
  padding: 15px;
  border: 1px solid black;
  width: 80%;
  font-size: 12px;
  border-radius: 10px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
}

.submit-button {
  margin-left: 10px;
  background: #ffbece;
  border: 1px solid black;
  padding: 14px 20px;
  border-radius: 10px;
  font-size: 15px;
}
h1 {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  text-align: center;
  line-height: 1.5;
  color: #ad3a6f;
}

label {
  text-align: center;
  font-size: 18px;
  font-family: "Rouge Script", cursive;
  font-weight: 400;
  font-style: normal;
  color: #ad3a6f;
}
form {
  padding: 10px;
  border-radius: 10px;
  display: flex;
}

footer {
  font-family: "Rouge Script", cursive;
  font-style: normal;
  text-align: center;
}
a {
  color: #ec51a9;
}
